body {
    margin: 0;
}

canvas {
    display: block;
}

#light-indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000; /* Ensure it's above everything */
}
